@import 'base-styles';

.confirmar-sair {
  display: flex;
  flex-direction: column;

  &__titulo {
    font-size: to-vw(24px);
    margin-bottom: $spacing-m;
  }

  &__descricao {
    font-size: to-vw(16px);
    margin-bottom: $spacing-m;
    color: $color-cinza-claro;
  }
}
