<div class="perfil">
  <div class="perfil__container">
    <bra-menu-header [menuHeader]="viewModel.menuHeader"></bra-menu-header>

    <div *ngIf="false"
      class="perfil__content">
      <bra-acesso-app (clickAction)="clickAcesso($event)"></bra-acesso-app>
    </div>

    <div class="perfil__content">
      <bra-pedidos-andamento [icone]="viewModel.pedidos"
        (clickAction)="clickPedidosAndamento()"></bra-pedidos-andamento>

      <bra-historico-compras (clickAction)="clickHistoricoCompras()">
      </bra-historico-compras>

      <div class="perfil__container-sair">
        <p class="perfil__sair"
          role="button"
          (click)="clickSair()">{{ viewModel.textoBotaoSair | translate }}</p>
      </div>
    </div>

    <bra-menu-footer [conteudoFooter]="viewModel.menuFooter"
      (clickAction)="menuFooterClick($event)"></bra-menu-footer>
  </div>
</div>

<bra-modal [ngSwitch]="viewModel.exibeModal"
  [modal]="viewModel.modalModel"
  (clickActionFecharModal)="fecharModal()"
  [@modalAnimation]>
  <bra-confirmar-sair *ngSwitchCase="'sair'"
    (clickAction)="clickSair('Sair')">
  </bra-confirmar-sair>

  <bra-lista-pedidos *ngSwitchCase="'pedidos'"
    [listaPedidos]="viewModel.pedidosAndamento">
  </bra-lista-pedidos>

  <bra-lista-pedidos *ngSwitchCase="'historico'"
    [listaPedidos]="viewModel.historicoPedidos">
  </bra-lista-pedidos>
</bra-modal>