<div class="carrinho">
  <div class="carrinho__container">
    <bra-menu-header [titulo]="viewModel.tituloPrincipal"></bra-menu-header>

    <div class="carrinho__content">
      <bra-lista-compras *ngIf="viewModel.compras.length > 0"
        [compras]="viewModel.compras"
        (clickAction)="clickCardFavorito($event)">
      </bra-lista-compras>

      <div class="carrinho__body"
        *ngIf="viewModel.compras.length < 1">
        <div class="carrinho__imagem"></div>
        <p class="carrinho__titulo">{{ viewModel.tituloErro| translate }}</p>
        <p class="carrinho__descricao">
          {{ viewModel.descricaoErro| translate }}</p>

        <div class="carrinho__footer-botao">
          <bra-button [texto]="viewModel.textoBotaoErro"
            (clickAction)="clickBotaoErro()"></bra-button>
        </div>
      </div>

    </div>

    <bra-menu-footer [conteudoFooter]="viewModel.menuFooter"
      (clickAction)="menuFooterClick($event)"></bra-menu-footer>
  </div>
</div>