<div class="carrinho">
  <div class="carrinho__container">
    <bra-menu-header [menuHeader]="viewModel.menuHeader"></bra-menu-header>

    <div class="carrinho__content">
      <bra-lista-compras *ngIf="!viewModel.exibeListaCompra"
        [compras]="viewModel.compras"
        (clickAction)="infoProduto($event)">
      </bra-lista-compras>

      <div class="carrinho__body"
        *ngIf="viewModel.carrinhoVazio">
        <div class="carrinho__imagem"></div>
        <p class="carrinho__titulo">{{ viewModel.tituloErro| translate }}</p>
        <p class="carrinho__descricao">
          {{ viewModel.descricaoErro| translate }}</p>

        <div class="carrinho__footer-botao">
          <bra-button [texto]="viewModel.textoBotaoErro"
            (clickAction)="clickBotaoErro()"></bra-button>
        </div>
      </div>

    </div>

    <bra-total-compra *ngIf="!viewModel.carrinhoVazio"
      [valorTotal]="viewModel.valorTotalCompra"
      (clickAction)="clickComprar()"></bra-total-compra>

    <bra-menu-footer [conteudoFooter]="viewModel.menuFooter"
      (clickAction)="menuFooterClick($event)"></bra-menu-footer>
  </div>
</div>

<bra-modal class="carrinho__modal-pagamento"
  *ngIf="viewModel.modalPagamento.mostrar"
  [modal]="viewModel.modalPagamento"
  (clickActionFecharModal)="fecharModalPagamento()"
  [@modalAnimation]>
  <p>Teste!</p>
</bra-modal>