@import 'base-styles';
@import 'base-64';

.onboarding {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-m;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: $imagem-onboarding;

  &__titulo {
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image: $titulo-onboarding;
  }

  &__body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__body-descricao {
    text-align: center;
    font-size: to-vw(20px);
    margin-bottom: $spacing-l;
  }

  &__body-linha {
    margin: 0 auto;
  }

  &__footer-botao {
    margin: $spacing-l 0 $spacing-xl;
  }
}
