<div class="pagamento">

  <div class="pagamento__container-titulo">
    <p class="pagamento__titulo">
      {{ viewModel.tituloPagamento | translate }}</p>
  </div>
  <bra-button-pagamento [buttonPagamento]="viewModel.formaPagamento"
    (clickAction)="clickPagamento($event)"></bra-button-pagamento>
  <div>
    <div class="pagamento__container-titulo">
      <p class="pagamento__titulo">
        {{ viewModel.tituloDadosPagamento | translate }}</p>
    </div>
  </div>
  <br /><br />
  <bra-button [texto]="'Finalizar'"
    (clickAction)="clickFinalizar()"></bra-button>
</div>