@import 'base-styles';

.lista-parceiros {
  display: flex;
  flex-direction: column;
  padding-bottom: $spacing-l;

  &__titulo {
    font-size: to-vw(20px);
    padding: $spacing-l $spacing-m $spacing-s;
  }
}
