<div class="parceiro">
  <div class="parceiro__container">
    <bra-menu-header [menuHeader]="viewModel.menuHeader"></bra-menu-header>
    <div class="parceiro__content">
      <bra-sugestao *ngIf="viewModel.parceirosSugeridos.length > 0"
        [parceirosSugeridos]="viewModel.parceirosSugeridos"
        (clickAction)="cardParceiroClickHandle($event)">
      </bra-sugestao>

      <bra-destaque *ngIf="viewModel.parceirosDestaque.length > 0"
        [parceirosDestaque]="viewModel.parceirosDestaque"
        (clickAction)="cardParceiroClickHandle($event)">
      </bra-destaque>

      <bra-lista-parceiros [parceiros]="viewModel.parceiros"
        (clickAction)="cardParceiroClickHandle($event)">
      </bra-lista-parceiros>
    </div>
    <bra-menu-footer [conteudoFooter]="viewModel.menuFooter"
      (clickAction)="menuFooterClick($event)"></bra-menu-footer>
  </div>
</div>