<div class="parceiro">
  <div class="parceiro__container">
    <bra-menu-header></bra-menu-header>
    <div class="parceiro__content">
      <bra-sugestao [parceirosSugeridos]="viewModel.parceirosSugeridos"
        (clickAction)="cardSugestaoClick($event)">
      </bra-sugestao>

      <bra-destaque [parceirosDestaque]="viewModel.parceirosDestaque"
        (clickAction)="cardSugestaoClick($event)">
      </bra-destaque>
    </div>
    <bra-menu-footer [conteudoFooter]="viewModel.menuFooter"></bra-menu-footer>
  </div>
</div>