@import 'base-styles';
@import 'menu-base-64';

.menu-footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $color-preto-claro;

  &__home,
  &__carrinho,
  &__favorito,
  &__perfil {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: $spacing-l 0 $spacing-l;
  }

  &__home {
    background-image: $icon-home-preto;
    margin-left: $spacing-m;
  }

  &__carrinho {
    background-image: $icon-carrinho-preto;
  }

  &__favorito {
    background-image: $icon-favorito-preto;
  }

  &__perfil {
    background-image: $icon-perfil-preto;
    margin-right: $spacing-m;
  }

  &--home & {
    &__home {
      background-image: $icon-home-amarelo;
    }
  }

  &--carrinho & {
    &__carrinho {
      background-image: $icon-carrinho-amarelo;
    }
  }

  &--favorito & {
    &__favorito {
      background-image: $icon-favorito-amarelo;
    }
  }

  &--perfil & {
    &__perfil {
      background-image: $icon-perfil-amarelo;
    }
  }
}
