@import 'base-styles';

.bra-overlay {
  position: fixed;
  z-index: 1000;

  &__background {
    background-color: $color-cinza-claro;
    opacity: 0.65;
    z-index: 1000;
    height: 100vh;
    width: 100vh;
    position: fixed;
    bottom: 0;
  }
}

.bra-modal {
  position: fixed;
  width: 100vw;
  z-index: 1001;
  bottom: 0px;

  &__conteudo {
    z-index: 1002;
    background-color: $color-preto-escuro;
  }

  &__body {
    width: 100%;
    padding: $spacing-l $spacing-m;
  }

  &__header {
    background-color: red;
    z-index: 1;
    height: 48px;
    padding: $spacing-m $spacing-m $spacing-xs $spacing-m;
  }

  &__close-button {
    width: 16px;
    height: 16px;
    border: 0px;
    background-color: transparent;
    background-image: url('data:image/png;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNy4zNTciIGhlaWdodD0iMTcuMDAzIiB2aWV3Qm94PSIwIDAgMTcuMzU3IDE3LjAwMyI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6IzNiNjlmZjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2Utd2lkdGg6MS4yNXB4O308L3N0eWxlPjwvZGVmcz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjMuMjkzIC0xMDMuOTI1KSI+PGxpbmUgY2xhc3M9ImEiIHgyPSIyMS4xMDciIHkyPSIwLjM5MyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjQuNDcyIDEwNC44MjUpIHJvdGF0ZSg0NSkiLz48bGluZSBjbGFzcz0iYSIgeDI9IjAuMzkzIiB5Mj0iMjEuMTA3IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgzOS40NzIgMTA0LjgyNSkgcm90YXRlKDQ1KSIvPjwvZz48L3N2Zz4=');
    background-position: center;
    background-repeat: no-repeat;
  }

  &--parcial > &__conteudo {
    border-radius: 12px 12px 0px 0px;
  }

  &--integral > &__conteudo > &__body {
    height: calc(100vh - 48px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
