// Cores principais da marca
$color-marca-principal-pura: #e1173f;
$color-marca-principal-escuro: #af002b;

// Cores secundarias
$color-sinalizadora-positivo: #0bcc56;
$color-sinalizadora-alerta: #ffbc00;
$color-sinalizadora-link: #3b69ff;

// Cores de apoio
$color-secundaria-apoio-1: #73308b;
$color-secundaria-apoio-2: #b41a83;
$color-secundaria-apoio-3: #f36279;
$color-secundaria-apoio-4: #2b469c;

// Cores para escala de cinza
$color-escala-base-0: #ffffff;
$color-escala-base-5: #f0f1f5;
$color-escala-base-10: #e4e5e9;
$color-escala-base-30: #a7a8ac;
$color-escala-base-40: #6d6e71;
$color-escala-base-70: #47484c;
$color-escala-base-100: #000;

// Cores para mensagens de alerta
$color-alerta-sucesso: #e6faee;
$color-alerta-atencao: #fff8e5;
$color-alerta-orientacao: #ebf0ff;
$color-alerta-erro: #fce7eb;
$color-alerta-divulgacao: #f1eaf3;
$color-alerta-alerta: #fefbd5;

// Cores exclusivas do viva prime
$color-prime-azul: #0e24d3;
$color-prime-azul-escuro: #0c1e63;
$color-prime-azul-1: #142463;
$color-prime-azul-claro: #4e86b3;
$color-prime-cinza: #77787b;
$color-prime-cinza-claro: #c8c9cc;
$color-prime-cinza-escuro: #5f5f5f;
