// Cores principais da marca
$color-preto-claro: #181a20;
$color-preto-claro-alternativo: #181a25;
$color-preto-escuro: #0b0e15;
$color-amarelo: #ffc52c;
$color-preto-acinzentado: #545454;
$color-branco-default: #ffffff;
