$font-default-regular: 'BradescoSans-Regular', Fallback, sans-serif;
$font-default-medium: 'BradescoSans-Medium', Fallback, sans-serif;
$font-default-semibold: 'BradescoSans-SemiBold', Fallback, sans-serif;
$font-default-bold: 'BradescoSans-Bold', Fallback, sans-serif;
