@import 'base-styles';

.linha {
  height: 1px;

  &--default {
    width: 76px;
    background-color: $color-amarelo;
  }

  &--completa {
    width: 100%;
    background-color: $color-preto-escuro;
  }
}
