@import 'base-styles';

.menu-header {
  display: flex;
  height: 100px;
  padding: $spacing-l $spacing-m;
  background: $color-preto-claro;

  &__titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: $font-roboto-light;
    font-size: to-vw(24px);
  }

  &__pesquisa {
    width: 100%;
  }
}
