<div class="menu-header"
  [ngSwitch]="menuHeader.tipo">

  <label *ngSwitchCase="'default'"
    class="menu-header__titulo">{{ menuHeader.titulo | translate }}</label>

  <div *ngSwitchCase="'pesquisa'"
    class="menu-header__pesquisa">
    <bra-pesquisa></bra-pesquisa>
  </div>

  <div *ngSwitchCase="'perfil'"
    class="menu-header__perfil">
    <div class="menu-header__icone-container">
      <div class="menu-header__icone"></div>
    </div>

    <div class="menu-header__detalhes">
      <label
        class="menu-header__nome-cliente">{{ menuHeader.titulo | translate }}</label>
      <label class="menu-header__descricao">Data de nascimento:
        {{ menuHeader.descricao | translate }}</label>
    </div>
  </div>
</div>