@import 'base-styles';
@import 'base-64';

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;

  &__logo {
    background-image: $logo-tipo-base64;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: top;
  }
}
